@import 'Pages';
@import 'Config';
@import 'Header';
@import 'Forms';
@import 'Posts';
@import 'Questions';

html, body, #app, #app>div {
  font-family: $main-font;
  font-size: 100%;
  height: 100%;
  background: $primary-color-gradient;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $secundary-color-gradient, $primary-color-gradient);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $secundary-color-gradient , $primary-color-gradient); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

